.intel-plugin-setup-page div.welcome-panel {
    padding-bottom: 23px;
}

.intel-plugin-setup-page div.welcome-panel-content {
    margin-left: 138px;

}

.intel-plugin-setup-page div.welcome-panel-content .intel-setup-action-header {
    margin-bottom: 0.5em;
}






