.intel-wp-screen div.welcome-panel {
    padding-bottom: 23px;
}

.intel-wp-screen div.welcome-panel-content {
    margin-left: 138px;

}

.intel-wp-screen div.welcome-panel-content .intel-setup-action-header {
    margin-bottom: 0.5em;
}

.intel-wp-screen div.welcome-panel div.logo {
    clear: both;
    content: "";
    display: block;
    background-image: url(../images/icon-128x128.png);
    background-size: 128px 128px;
    background-repeat: no-repeat;
    background-position: 0 45%;
    width: 128px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
}






